@model IEnumerable<Graficos.Data.Dados>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12" id="container">

    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 offset-md-2">


        <label for="startDate">Data Inicial</label> <div id="startDate"></div>
        <input type="hidden" value="" id="inputStartDate" name="startDate" />
    </div>
    <div class="col-md-4">
        <label for="endDate">Data Final</label>
        <div id="endDate"></div>
        <input type="hidden" value="" id="inputEndDate" name="endDate" />

    </div>
    <div class="col-md-2">

        <button class="btn btn-success btn-lg" id="AtualizarGrafico">ATUALIZAR GRÁFICO</button>

    </div>
</div>
<hr />
<div class="row">

    <div class="col-md-4">


        <ul class="list-group">
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="TodosBlocos" id="SelecionaTodosBlocos" checked="checked" data-SelectAll="true" />
                    <span class="success"></span>
                </label><span id="textoSelecionaBloco">Desmarcar Todos</span>
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="bloco1" class="checkBlocos" checked="checked" />
                    <span class="success"></span>
                </label>Bloco 1
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="bloco2" class="checkBlocos" checked="checked" />
                    <span class="success"></span>
                </label>Bloco 2
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="bloco3" class="checkBlocos" checked="checked" />
                    <span class="success"></span>
                </label>Bloco 3
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="bloco4" class="checkBlocos" checked="checked" />
                    <span class="success"></span>
                </label>Bloco 4
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="bloco5" class="checkBlocos" checked="checked" />
                    <span class="success"></span>
                </label>Bloco 5
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="bloco6" class="checkBlocos" checked="checked" />
                    <span class="success"></span>
                </label>Bloco 6
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="bloco7" class="checkBlocos" checked="checked" />
                    <span class="success"></span>
                </label>Bloco 7
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="bloco8" class="checkBlocos" checked="checked" />
                    <span class="success"></span>
                </label>Bloco 8
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="bloco9" class="checkBlocos" checked="checked" />
                    <span class="success"></span>
                </label>Bloco 9
            </li>

        </ul>
    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="TodosTratamento" id="SelecionaTodosTratamentos" checked="checked" />
                    <span class="success"></span>
                </label><span id="textoSelecionaTratamento">Desmarcar Todos</span>
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="tratamento1" class="checkTratamento" checked="checked" />
                    <span class="success"></span>
                </label>Tratamento 1
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="tratamento2" class="checkTratamento" checked="checked" />
                    <span class="success"></span>
                </label>Tratamento 2
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="tratamento3" class="checkTratamento" checked="checked" />
                    <span class="success"></span>
                </label>Tratamento 3
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="tratamento4" class="checkTratamento" checked="checked" />
                    <span class="success"></span>
                </label>Tratamento 4
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="tratamento5" class="checkTratamento" checked="checked" />
                    <span class="success"></span>
                </label>Tratamento 5
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="tratamento6" class="checkTratamento" checked="checked" />
                    <span class="success"></span>
                </label>Tratamento 6
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="tratamento7" class="checkTratamento" checked="checked" />
                    <span class="success"></span>
                </label>Tratamento 7
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="tratamento8" class="checkTratamento" checked="checked" />
                    <span class="success"></span>
                </label>Tratamento 8
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="tratamento9" class="checkTratamento" checked="checked" />
                    <span class="success"></span>
                </label>Tratamento 9
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="TodosDados" id="SelecionaTodosDados" checked="checked" />
                    <span class="success"></span>
                </label><span id="textoSelecionaDados">Desmarcar Todos</span>
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="dados1" class="checkDados" checked="checked" />
                    <span class="success"></span>
                </label>Tempertura do solo
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="dados2" class="checkDados" checked="checked" />
                    <span class="success"></span>
                </label>Temperatura da Superficie do solo
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="dados3" class="checkDados" checked="checked" />
                    <span class="success"></span>
                </label>Temperatura da Copa
            </li>

            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="dados4" class="checkDados" checked="checked" />
                    <span class="success"></span>
                </label>Diametro Coleto
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="dados5" class="checkDados" checked="checked" />
                    <span class="success"></span>
                </label>Altura Planta
            </li>
            <li class="list-group-item">
                <label class="checkbox">
                    <input type="checkbox" name="dados6" class="checkDados" checked="checked" />
                    <span class="success"></span>
                </label>Numero de folhas
            </li>

        </ul>
    </div>


</div>

@section CSS{
    <link href="~/Toggle/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/ToggleF/toggleF.css" rel="stylesheet" />
    <style>
        .datepicker-inline {
            border: 1px solid;
        }

        input[type=checkbox] {
            margin-right: 10px;
            border: 1px solid;
        }
    </style>
}

@section Scripts {

    <script src="~/Toggle/bootstrap-toggle.min.js"></script>
    <script src="~/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
    </script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart'] });
    </script>
    <script>
        $("#startDate").datepicker({
            language: "pt-BR"
        }).on("changeDate", function () {
            if ($("#startDate").datepicker("getDate") > $("#endDate").datepicker("getDate")) {
                $('#inputEndDate').val("");
            }

            $('#endDate').datepicker("setStartDate", $("#startDate").datepicker("getDate"));
            $('#inputStartDate').val($(this).datepicker("getDate").toLocaleDateString());
           
        });
        $("#endDate").datepicker({
            language: "pt-BR"

        }).on("changeDate", function () {
            $('#inputEndDate').val($(this).datepicker("getDate").toLocaleDateString() );

        });

        $(document).ready(function () {


        });

        $("#AtualizarGrafico").click(function () {
            var favorite = [];
            $.each($("input[type='checkbox']:checked"), function () {
              
                favorite.push( $(this).attr("name") );
            });
            console.log(favorite);

            console.log($("#inputStartDate").val() + "   " + $("#inputEndDate").val());

        });

        $("#SelecionaTodosDados").click(function () {
            if ($(this).data("SelectAll") == "true") {
                $(this).data("SelectAll", "false");
              
                $(".checkDados").prop("checked", true);
                $("#textoSelecionaDados").text("Desmarcar Todos");
            } else {
                $(this).data("SelectAll", "true");
                $("#textoSelecionaDados").text("Marcar Todos");
                $(".checkDados").prop("checked", false);
            }
        });
        $("#SelecionaTodosTratamentos").click(function () {
            if ($(this).data("SelectAll") == "true") {
                $(this).data("SelectAll", "false");
                $(".checkTratamento").prop("checked", true);
                $("#textoSelecionaTratamento").text("Desmarcar Todos");
            } else {
                $(this).data("SelectAll", "true");
                $(".checkTratamento").prop("checked", false);
                $("#textoSelecionaTratamento").text("Marcar Todos");
            }
        });
        $("#SelecionaTodosBlocos").click(function () {
            if ($(this).data("SelectAll") == "true") {
                $(this).data("SelectAll", "false");
                $(".checkBlocos").prop("checked", true);
                $("#textoSelecionaBloco").text("Desmarcar Todos");
            } else {
                $(this).data("SelectAll", "true");
               
                $("#textoSelecionaBloco").text("Marcar Todos");
                $(".checkBlocos").prop("checked", false);
            }
        });

    </script>

    <script language="JavaScript">


        function drawChart() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                ['', '1', '2', '3', '4'],
                ['30/11/2018', 10, 12.5, 12.3, 11.9],
                ['02/12/2018', 9, 11.7, 11.3, 14.8],
                ['08/12/2018', 11, 10.5, 10.3, 12.7],
                ['12/12/2018', 8, 9.5, 09.3, 10.9],
            ]);

            var options = { title: 'Analise de informações' };

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('container'));
            chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(drawChart);
    </script>
}
